STORE_CORS=http://localhost:8000,https://teherguminet.hu,https://www.teherguminet.hu
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://admin.teherguminet.hu
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://admin.teherguminet.hu,https://teherguminet.hu,https://www.teherguminet.hu
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=
MEDUSA_BACKEND_URL=
FILE_UPLOAD_DIR=
FILE_PRIVATE_UPLOAD_DIR=
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
STOREFRONT_URL=https://teherguminet.hu
ABANDONED_CART_THRESHOLD_MINUTES=1440
RESET_PASSWORD_URL_TEMPLATE=
ADMIN_RESET_PASSWORD_URL_TEMPLATE=
STOREFRONT_RESET_PASSWORD_URL_TEMPLATE=
ADMIN_RESET_PASSWORD_PATH=/app/reset-password
STOREFRONT_RESET_PASSWORD_PATH=/account/reset-password
RESET_PASSWORD_TOKEN_QUERY_KEY=token
RESEND_FROM_EMAIL=
RESEND_API_KEY=
RESEND_TEMPLATE_IDS_JSON={}
RESEND_TEMPLATE_ID_ORDER_PICKUP_READY=
RESEND_TEMPLATE_ID_OWN_DELIVERY_PAYMENT_NOTICE=
